.maincontainer{
    border: 2px solid black;
    width: 30%;
    justify-content: center;
    text-align: center;
}

.main-title{
    padding: 1rem;
    font-size: 2rem;
    background-color:rgb(218, 92, 92);
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
}

.done{
    color: rgb(109, 109, 109);
    font-weight: 500;
    text-decoration: line-through;
}

.to-do{
    color: black;
    font-weight: 300;
}

.main-tf{
    border:none;
}

.task{
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: center left;
    background-color:white;
}

.taskdiv{
    position: relative;
    right: 0;
    justify-self: flex-end;
}

.deleteTask{
    right: 0;
    margin-left: 1rem;
    height: 100%;
    width: fit-content;
    line-height:1.2rem;
    top: 0;
}

.list{
    list-style: none;
}

.main-btn{
    justify-self: flex-end;
    border: none;
    color: white;
    background-color:rgb(218, 92, 92);
}

.main-btn:focus,.main-tf:focus{
    border:none;
    outline: none;
}

.main-btn:hover,.deleteTask{
    background-color:rgb(150, 63, 63);
}

.main-btn:active,.deleteTask{
    background-color:rgb(223, 211, 211);
    transition-delay: 5ms;
}

.bottom{
    border-top: 1px solid black;
}
